{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
  <title>Aplikasi surat menyurat | {{judul}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'printThis.js' %}"></script>

</head>
<style>
  .content{
    margin-left:10px
  }
  .footer{
    clear: both;
    position: relative;
    height: 40px;
    margin-top: 100px;
  }
  table{
    font-size:14px;
  }
</style>
<body>
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
 <a class="navbar-brand" href="#">
    <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    SMPN 2 Gading
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    {% for group in user.groups.all  %}
      {% if group.name == "administrator" %}
      <a class="nav-item nav-link {% if menu == 'beranda' %} active {% endif %}" href="{% url 'home' %}">Beranda <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {% if menu == 'instansi' %} active {% endif %}" href="{% url 'surat:instansi_list' %}">Instansi <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {% if menu == 'masuk' %} active {% endif %}" href="{% url 'surat:surat_masuk_list' %}">Surat Masuk</a>
      <a class="nav-item nav-link {% if menu == 'keluar' %} active {% endif %}" href="{% url 'surat:surat_keluar_list' %}">Surat Keluar</a>
      <a class="nav-item nav-link {% if menu == 'disposisiadmin' %} active {% endif %}" href="{% url 'surat:disposisi_admin' %}">Disposisi Masuk</a>
      <a class="nav-item nav-link {% if menu == 'disposisikeluaradmin' %} active {% endif %}" href="{% url 'surat:disposisi_admin_keluar' %}">Disposisi Keluar</a>
      <a class="nav-item nav-link {% if menu == 'struktural' %} active {% endif %}" href="{% url 'surat:struktural_admin' %}">Data Struktural</a>
      <a class="nav-item nav-link {% if menu == 'laporan' %} active {% endif %}" href="{% url 'surat:laporan_admin' %}">Laporan Surat</a>
      <a class="nav-item nav-link navbar-right" href="{% url 'logout' %}">Log Out</a>
      {% endif %}
      {% if group.name == "struktur" %}
      <a class="nav-item nav-link {% if menu == 'struktur' %} active {% endif %}" href="{% url 'surat:struktur_beranda' %}">Beranda <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {% if menu == 'disposisi' %} active {% endif %}" href="{% url 'surat:disposisi_beranda' %}">Disposisi <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {% if menu == 'masuk' %} active {% endif %}" href="{% url 'surat:surat_masuk_list_struktural' %}">Surat Masuk <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {% if menu == 'keluar' %} active {% endif %}" href="{% url 'surat:surat_keluar_list_struktural' %}">Surat Keluar <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link navbar-right" href="{% url 'logout' %}">Log Out</a>
      {% endif %}
    {% endfor %}
     
    
    </div>
      
        
    
  </div>
  
</nav>
  <div class="container">
  {% comment %} <h1>
    Aplikasi
    <small class="text-muted"> Surat Menyurat SMP 2 Gading</small>
  </h1> {% endcomment %}
  {% comment %} <a href="{% url 'surat:instansi_list' %}">Instansi</a> |
  <a href="{% url 'surat:surat_masuk_list' %}">Surat Masuk</a> |
  <a href="{% url 'surat:surat_keluar_list' %}">Surat Keluar</a> |
  <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
 
  <hr />
  {% block content %}
    
  {% endblock content %}
  </div>
  <hr/>
  <br/>
   <nav class="navbar navbar-expand-sm navbar-light"style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#" align="center">SMPN 2 Gading</a> &copy; 2022</p></a>
    
      
    </nav>
</body>
</html>